In [1]:
import pandas as pd

In [2]:
# land_fall_df.to_csv("landfall.csv", index=False)
landfall_df = pd.read_csv("landfall.csv")
landfall_df.dtypes

ID            object
Name          object
Year           int64
Month          int64
Day            int64
Status        object
Wind_mph       int64
Latitude     float64
Longitude     object
dtype: object

In [3]:
# landfall_df.dtypes
# df['DataFrame Column'] = df['DataFrame Column'].astype(int)
# landfall_df['Longitude'] = landfall_df['Longitude'].astype(float)
landfall_df['Longitude'] = pd.to_numeric(landfall_df['Longitude'],errors='coerce')
landfall_df.head()

         ID     Name  Year  Month  Day Status  Wind_mph  Latitude  Longitude
0  AL011851  UNNAMED  1851      6   25     HU        80      28.2      -96.8
1  AL041851  UNNAMED  1851      8   23     HU       100      30.1      -85.7
2  AL061851  UNNAMED  1851     10   19     TS        50      41.1      -71.7
3  AL011852  UNNAMED  1852      8   26     HU       100      30.2      -88.6
4  AL031852  UNNAMED  1852      9   12     HU        70      28.0      -82.8

In [4]:
landfall_df.dtypes
landfall_df.head()
len(landfall_df)

962

In [5]:
landfall_df = landfall_df.dropna()
len(landfall_df)

961

In [6]:
def df_to_geojson(landfall_df, properties, lat='Latitude', lon='Longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in landfall_df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [7]:
cols = ['ID', 'Name', 'Year','Month','Day','Status','Wind_mph','Latitude','Longitude']
geojson = df_to_geojson(landfall_df, cols)

In [8]:
output_filename = 'Resources/hurricane.json'
with open(output_filename, 'w') as output_file:
    output_file.write('var dataset = ')
    json.dump(geojson, output_file, indent=2)